* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
/* src/styles/slidesPage.css */

/* Стили для карты слайда */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Стили для карточек в списке слайдов */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Стили для страницы с слайдами */
.container {
  max-width: 1200px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
